*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing:border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html{/* document style*/
  width: 100%;
  height: 100%;
  font-size: 90%;
  display: block;
  position: relative;
}
body{
  width: 100%;
  height: 100%;
  display: block;
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body{
  /* background: #eee; */
  background-origin: 9px;
  min-height: 100%;
  line-height: 1.8;
  color: black;
  left: 0px;
  overflow-x: hidden;
}
/* ::selection{
  background:transparent;
} */